@model GameSnipe.Models.CommentsEntry

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Blog.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CommentsEntry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usernameame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usernameame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
